{% extends "questions/base.html" %}

{% block content %}
<div class="card block">
  <div class="row">
    <div class="d-flex flex-column mx-auto">
      {% load static %}
      <img src="{% static 'questions/images/cat.jpg' %}" width="80" height="80" class="rounded-circle mb-3 ">
    </div>
    <div class="col-10 pl-0">
      <h5 class="pb-3 mb-3 border-bottom">
        <a href="#">{{ question_title }}</a>
      </h5>
      <p class="card-text">{{ question_text }}</p>
    </div>
  </div>
  <div class="row mt-0">
    <div class="d-flex flex-column mx-auto">
      <div class="btn-group btn-group-sm vote" role="group">
        <button type="button" class="btn btn-success">↑</button>
        <a class="btn border-top border-bottom between-btn">25</a>
        <button type="button" class="btn btn-danger">↓</button>
      </div>
    </div>
    <div class="col-10 pl-0">
      <button type="button" class="float-right btn btn-sm btn-primary">
        <a>Answer!</a> 
        <span class="badge badge-light">4</span>
      </button>
      <h6 class="listhead">
        <a style="margin-right: 5px;">Tags:</a>
        {% for i in tag_list %}
        <a class="badge badge-secondary secondary font-weight-light" href="{% url 'index/' tag %}">{{ tag }}</a>
        {% endfor %}
      </h5>
    </div>
  </div>
</div>

<ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
{% endblock %}