{% extends "questions/base.html" %}

{% block title %}<title>Ask!</title>{% endblock %}

{% block content %}

<div class="col-md-8 px-0">
  <div class="card block mb-3">
    <h4 class="ask-title text-muted text-center border-bottom">
      <a>New question</a>
    </h4>
    <form novalidate class="form-signin" method="POST" enctype="multipart/form-data">
      {%csrf_token%}
      <div class="row">
        <div class="col-md-12">
          {% for error in form.non_field_errors%}
          <div class="alert alert-danger text-center" role="alert">
            {{ error }}
          </div>
          {% endfor %}
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Title</span>
            </div>
            {{ form.title }}
          </div>
          {% for error in form.title.errors %}
          <div class="alert alert-danger text-center" role="alert">
            {{ error }}
          </div>
          {% endfor %}

          {{ form.text }}
          {% for error in form.text.errors %}
          <div class="alert alert-danger mt-3 text-center" role="alert">
            {{ error }}
          </div>
          {% endfor %}

          <div class="input-group mt-3 tagsask">
            <div class="input-group-prepend">
              <span class="input-group-text">Tags</span>
            </div>
            {{ form.tags_list }}
          </div>

          {% for error in form.tags_list.errors %}
          <div class="alert alert-danger text-center mt-3" role="alert">
            {{ error }}
          </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary btn-block mt-3">Ask!</button>
        </div>
      </div>
    </form> 
  </div>
</div>

{% endblock %}