<!doctype html>

<html>
<head>
  {% block title %}<title>Know.Share</title>{% endblock %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'questions/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'questions/css/askme.css' %}">
  <script src="{% static 'questions/js/jquery.min.js' %}"></script>
  <script src="{% static 'questions/js/popper.min.js' %}"></script>
  <script src="{% static 'questions/js/bootstrap.min.js' %}"></script>
</head>

<body>
  {% block header %}
  <header>
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand navbar-light rounded-bottom col-md-12">

          <a class="navbar-brand mr-auto" href="{% url 'new' %}">
            {% load static %}
            <img src="{% static 'questions/images/cloud.png' %}" width="40" height="40">
            <span class="navbar-brand mb-0 h1">Know.Share</span>
          </a>
          <div class="row w-100">
            <div class="search col-lg">
              <form class="navbar-form navbar-right w-100" role="search" id="navBarSearchForm">
                <input class="form-control" type="text" placeholder="Search">
              </form>
            </div>
          </div>
          
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto navdrop">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% load static %}
                <img src="{% static 'questions/images/cat.jpg' %}" width="30" height="30" class="avatar rounded-circle" alt="">
                {{ user.username }}
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">My questions</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
          </ul>
          <a class="btn btn-primary" href="{% url 'ask' %}">Ask!</a>

          {% else %}
          <a class="btn btn-primary mr-3" href="{% url 'register' %}">Register</a>
          <a class="btn btn-danger search-btn" href="{% url 'login' %}">Log In</a>

          {% endif %}
        </nav>
      </div>
    </div>
  </header>
  {% endblock %}

  
  <div class="container">
    <div class="row">
      
      {% block content %}
      {% endblock %}
      
      {% block sidebar %}
      <div class="col-md-4 order-2 mb-4 pr-0">
        <div class="border rounded block" id="populartags">
          <h3 class="text-muted text-center border-bottom">Popular tags</h3>
          
          
          <div class="col-lg-offset-4 mb-3 tegcloud" id="tegcloud">
            {% for i in popular_tag_list %}
            <a class="pb-0 badge tag font-weight-light" href="{% url 'by_tag/' tag %}">{{ tag }}</a>
            {% endfor %}
          </div>
          <script type="text/javascript">
            $(document).ready(function(){
              var badges = [
                "badge-primary primary", "badge-secondary secondary", 
                "badge-danger danger", "badge-success success", 
                "badge-warning warning", "badge-info info", "badge-light light"];
              $("#tegcloud a").each(function(){
                $(this).addClass(badges[~~(Math.random()*badges.length)]);
              });
              var sizes = [
                "teg-1", "teg-2", "teg-3"];
              $("#tegcloud a").each(function(){
                $(this).addClass(sizes[~~(Math.random()*sizes.length)]);
              });
            });
          </script>
        </div>

        <div class="border rounded block" id="activeusers">
          <h3 class="text-muted text-center border-bottom">Active users</h3>
          <div class="col-lg-offset-4 mb-3">
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Vasya Pupkin</h6>
                  <small class="text-muted">Python developer in Microsoft</small>
                </div>
                <a style="color: green;">32</a>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">User Name</h6>
                  <small class="text-muted">Technopark student</small>
                </div>
                <a style="color: green;">18</a>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Linus Torwalds</h6>
                  <small class="text-muted">I made Linux</small>
                </div>
                <a style="color: green;">15</a>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Stepan Marckevich</h6>
                  <small class="text-muted">Your algorythm sucks</small>
                </div>
                <a style="color: green;">14</a>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Ksenia Strelkova</h6>
                  <small class="text-muted">Die shokoladky</small>
                </div>
                <a style="color: green;">4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endblock %}

    </div>
  </div>

  <footer class="mt-3 py-3 text-muted text-center text-small float-bottom">
    <p class="mb-1">2018 Know.Share</p>
  </footer>

</body>
</html>
