{% extends "questions/base.html" %}

{% block title %}<title>Questions</title>{% endblock %}

{% block content %}


<div class="col-md-8 px-0">
  {% if messages %}
  {% for message in messages %}
  <div class="form-group has-errors alert alert-success text-center" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <div class="card block">
    <ul class="nav nav-pills nav-fill justify-content-center">

      {% block navigation %}
      <li class="nav-item">
        <a class="nav-link active" href=""><h4 class="mb-0 pb-0">New questions</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hot' %}"><h4 class="mb-0 pb-0">Hot questions</h4></a>
      </li>
      {% endblock %}

    </ul>
  </div>

  {% for question in questions %}
  <div class="card block">
    <div class="row">
      <div class="d-flex flex-column mx-auto">
        <img src="{{ MEDIA_URL }}{{ question.author.avatar.url }}" width="80" height="80" class="mx-auto rounded-circle mb-3 ">
        <a class="btn-sm border between-btn">{{ question.answer_count }} answers</a>
      </div>
      <div class="col-10 pl-0">
        <h5 class="pb-3 mb-3 border-bottom">
          <a href="{% url 'question_page' question.id %}">{{ question.title }}</a>
        </h5>
        <p class="card-text">{{ question.text }}</p>
      </div>
    </div>
    <div class="row mt-0 mt-2">
      <div class="d-flex flex-column mx-auto">
        <div class="btn-group btn-group-sm vote" role="group">

          <button id="like_{{ question.id }}" type="button" class="btn btn-success">↑</button>
          <a class="btn border-top border-bottom between-btn" id="q_rating_{{ question.id }}"> 
            {{ question.rating }}
          </a>
          <button id="dislike_{{ question.id }}" type="button" class="btn btn-danger">↓</button>

          {% block javascript %}
            {% csrf_token %}
            <script>
              var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

              function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }

              $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain)
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              });

              $('#like_{{ question.id }}').click(function() {
                $.post({
                  url: '/ajax/',
                  data: {
                    question: "{{ question.id }}",
                    type: "like",
                  },
                  dataType: "json",
                  success: function(data) {
                    document.getElementById("q_rating_{{ question.id }}").innerHTML = data.rating
                  },
                });
              });
              $('#dislike_{{ question.id }}').click(function() {
                $.post({
                  url: '/ajax/',
                  data: {
                    question: "{{ question.id }}",
                    type: "dislike",
                  },
                  dataType: "json",
                  success: function(data) {
                    document.getElementById("q_rating_{{ question.id }}").innerHTML = data.rating
                  },
                });
              });

            </script>
          {% endblock %}

        </div>
      </div>
      <div class="col-10 pl-0">

        <a class="float-right btn btn-sm btn-primary" href="{% url 'question_page' question.id %}">Answer!</a>
        <h6 class="listhead">
          <a style="margin-right: 5px;">Tags:</a>
          {% for tag in question.tags.all %}
          <a class="pb-0 badge badge-secondary secondary font-weight-light" href="{% url 'by_tag' tag.name %}">
            {{ tag.name }}
          </a>
          {% endfor %}
        </h6>
      </div>
    </div>
  </div>
  {% endfor %}

  <ul class="pagination">

    {% if questions.number > 2 %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
    {% endif %}

    {% if questions.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ questions.previous_page_number }}">
          {{ questions.previous_page_number }}
        </a>
      </li>
    {% endif %}
  
    <li class="page-item active">
      <a class="page-link" href="#">{{ questions.number }}</a>
    </li>

    {% if questions.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ questions.next_page_number }}">
          {{ questions.next_page_number }}
        </a>
      </li>
    {% endif %}
      
    {% if questions.next_page_number < questions.paginator.num_pages %}
      <li class="page-item">
        <a class="page-link" href="?page={{ questions.paginator.num_pages }}">
            last &raquo;
        </a>
      </li>
    {% endif %}

  </ul>

</div>

{% endblock %}