{% extends "questions/base.html" %}

{% block title %}<title>Login</title>{% endblock %}

{% block content %}

<div class="col-md-8 order-md-1 px-0 text-center">
  <div class="row">
    <div class="col-3">
    </div>

    <div class="card col-6 block">
      <form class="form-signin">
        <h1 class="h3 mb-3 text-muted font-weight-normal">Login</h1>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <div class="checkbox mb-3">
        </div>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}