{% extends "questions/base.html" %}

{% block title %}<title>{{ question.title }}</title>{% endblock %}

{% block content %}

<div class="col-md-8 px-0">

  <div class="card block question">
    <div class="row">
      <div class="d-flex flex-column mx-auto">
        {% comment %} {% load media %} {% endcomment %}
        <img src="{{ MEDIA_URL }}{{ question.author.avatar.url }}" width="80" height="80" class="rounded-circle mb-3">
      </div>
      <div class="col-md-10 order-2 pl-0">
        <h5 class="pb-3 mb-3 border-bottom"><a>{{ question.title }}</a></h5>
        <p class="card-text">{{ question.text }}</p>
      </div>
    </div>
    <div class="row mt-3 pt-3 border-top">
      <div class="d-flex flex-column mx-auto">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-success">↑</button>
          <a class="btn border-top border-bottom between-btn">{{ question.rating }}</a>
          <button type="button" class="btn btn-danger">↓</button>
        </div>
      </div>
      <div class="col-md-10 order-2 pl-0">
        <h6 class="listhead mt-1">
          <a>Tags:</a>
          {% for tag in question.tags.all %}
          <a href="{% url 'by_tag' tag.name %}" class="pb-0 badge badge-secondary secondary font-weight-light">
            {{ tag.name }}
          </a>
          {% endfor %}
        </h5>
      </div>
    </div>
  </div>

  {% for answer in answers %}
  <div class="card block">
    <div class="row">
      <div class="d-flex flex-column mx-auto">
        <img src="images/anothercat.jpg" width="80" height="80" class="rounded-circle mb-3">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-success">↑</button>
          <a class="btn border-top border-bottom between-btn">{{ answer.rating }}</a>
          <button type="button" class="btn btn-danger">↓</button>
        </div>
      </div>
      <div class="col-md-10 pl-0">
        <p class="card-text">
          {{ answer.text }}
        </p>
      </div>
    </div>
    {% if answer.is_right %}
    <div class="row mt-3 pt-3 border-top">
      <div class="col-md-12 order-2">
        <div class="alert alert-success mb-0 center-text">
          <p class="text-center mb-0">
            This answer was noted by the author of the question as correct.
          </p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}

  {% if answers.paginator.num_pages != 1 %}
  <ul class="pagination">

    {% if answers.number > 2 %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
    {% endif %}
    
    {% if answers.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ answers.previous_page_number }}">
          {{ answers.previous_page_number }}
        </a>
      </li>
    {% endif %}
  
    <li class="page-item active">
      <a class="page-link" href="#">{{ answers.number }}</a>
    </li>
    
    {% if answers.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ answers.next_page_number }}">
        {{ answers.next_page_number }}
      </a>
    </li>
    {% endif %}
    
    {% if answers.next_page_number < answers.paginator.num_pages %}
    <li class="page-item">
      <a class="page-link" href="?page={{ answers.paginator.num_pages }}">
        last &raquo;
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

  {% if user != question.author %}
  <div class="card block myanswer">
    <h6 class="text-center">
      <a>And what do you think?</a>
    </h6>
    {% if not user.is_authenticated %}
    <div class="form-group has-errors alert alert-primary text-center mb-0" role="alert">
      <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register</a> to answer this question!
    </div>
    {% else %}
    <form novalidate class="form-signin" method="POST">
      {%csrf_token%}
      {% for error in form.non_field_errors %}
      <div class="form-group has-errors alert alert-danger text-center" role="alert">
        {{ error }}
      </div>
      {% endfor %}
  
      {% for field in form %}
      <div class="form-group has-errors text-danger small">
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="float-right btn btn-outline-primary" type="submit">
            Answer!
          </button>
        </div>
        {{ field }}
      </div>
      {% endfor %}
    </form>
    {% endif %}
  </div>
  {% endif %}

</div>

{% endblock %}